*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button
{
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

div.container
{
    width: 90%;
    max-width: 1440px;

    margin: 0 auto;
}

header
{
    background-color: rgb(61, 166, 236);
}

div.header-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

div.logo > svg
{
    width: 100px;
}

section.right-side
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

nav
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

nav > a.nav-item
{
    display: block;
    padding: 15px 30px;
    background-color: #fff;

    transition: all .3s;

    margin-right: 15px;
    color: #000;
    font-size: 13px;
    border-radius: 0.5em;
}

nav > a.nav-item:last-child
{
    margin-right: unset;
}

nav > a.nav-item:hover
{
    border-radius: 1.3em;
}

button.feedback
{
    /* background-color: rgb(0, 255, 98); */
    border-radius: 20px;
    border: 2px solid rgb(0, 26, 255);
    background-color: transparent;
    padding: 10px 40px;
}

section.right-side button.feedback
{
    margin-left: 40px;
}