/* FONTS */

    /* Oswald 400, 700*/
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

    /* Rubik 400, 600*/
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

    /* Fira Sans 400, 500*/
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

/* FONTS */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button
{
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

h2, h3
{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;

    text-transform: uppercase;

    margin-bottom: 25px;
}

h3
{
    font-size: 18px;
    margin-bottom: 10px;
}

div.container
{
    width: 90%;
    max-width: 1920px;

    margin: 0 auto;
}

section.new-section
{
    padding: 150px 0;
}

main section.new-section:last-child
{
    padding: 150px 0 50px 0;
}

header
{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 10;

    width: 100%;

    background-image:linear-gradient(   30deg, 
                                        rgb(17, 17, 17) 0 30%,
                                        rgb(44, 44, 44) 30% 60%, 
                                        rgb(26, 26, 26) 60% 100%
                                    );
}

div.header-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

div.logo > svg
{
    width: 100px;
}

div.logo p
{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

section.right-side
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;

    font-family: 'Rubik', sans-serif;
}

nav
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

nav > a.nav-item
{
    display: block;
    padding: 12px 25px;
    background-color: #fff;

    transition: all .3s;

    margin-right: 15px;
    color: #000;
    font-size: 15px;
    border-radius: 1.3em;

    border: 2px solid transparent;
}

nav > a.nav-item:last-child
{
    margin-right: unset;
}

nav > a.nav-item:hover
{
    border-radius: 0.5em;
    border: 2px solid rgb(255, 196, 0);
}

button.feedback
{
    border-radius: 20px;
    border: 2px solid rgb(206, 206, 206);
    background-color: transparent;
    padding: 13px 40px;
    color: #fff;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    transition: all .3s;
}

button.feedback:hover
{
    background-color: #fff;
    color: rgb(26, 26, 26);
    cursor: pointer;
    border: 2px solid #ccc;
}

div.feedback
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;

    margin-left: 40px;
}

div.feedback > a.feedback-phone
{
    margin-bottom: 10px;
}

section.advantages
{
    color: #fff;

    padding: 170px 0 50px 0;

    background-image:linear-gradient(-30deg, rgb(17, 17, 17) 0 40%, rgb(190, 172, 2) 40% 70%, rgb(17, 17, 17) 70% 100%);
}

div.slider-wrapper
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    width: 65%;
    margin: 0 auto;
}

div.slider-wrapper > span
{
    font-size: 50px;
}

div.slider-wrapper span:hover
{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}

div.slider
{
    margin: 0 auto;
    width: 800px;
    height: 400px;

    overflow: hidden;
}

div.slide
{
    position: relative;
    width: 90%;
    height: 100%;

    margin: 0 auto;
}

div.slide div.slide-img
{
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    left: 0;
    top: 0;
}

div.slide-img::before
{
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;


    background-color: rgba(0, 0, 0, 0.6);
}

div.slide p
{
    position: absolute;

    top: 50%;
    transform:translate(0 50%);
    text-indent: 5px;

    text-align: center;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
}

div.info-wrapper
{
    display: flex;
    font-family: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

div.info-column
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    max-width: 30%;

    border: 2px solid rgb(49, 49, 49);

    padding: 15px;
}

div.info-column img
{
    width: 150px;
}

div.info-column article
{
    text-indent: 15px;
    font-family: 'Rubik', sans-serif;

    max-width: 300px;

    margin-top: 20px;
}

section.goods
{
    background-image:linear-gradient(to right bottom,
                                    rgb(44, 44, 44) 0% 10%,  
                                    rgb(201, 173, 18) 10% 15%, 
                                    rgb(44, 44, 44) 15% 80%,
                                    rgb(117, 211, 41) 80% 85%,
                                    rgb(44, 44, 44) 85% 100%);
}

section.goods h2
{
    color: #fff;
}

iframe
{
    border: none;
    width: 100%;
}

div.team-wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

div.team-member
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.team-member img
{
    width: 200px;
    margin-bottom: 20px;
}

div.team-member p, div.team-member span
{
    color: rgb(119, 119, 119);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: italic;
}

div.brands-wrapper
{
    overflow-x: scroll;
    overflow-y: hidden;

    height: 120px;
    position: relative;

    display: flex;
    flex-flow: row nowrap;
}

div.brand
{
    position: relative;
    min-width: 200px;
    height: 100px;

    background-repeat: no-repeat;
    background-size: contain;

    display: inline-block;
}

img.useful-image
{
    width: 300px;
    margin: 0 auto;
    display: block;
}

div.form
{
    max-width: 800px;
}

form.form-feedback
{
    display: flex;
    flex-flow: column nowrap;
}

form.form-feedback label, form.form-feedback span
{
    display: inline;
}

form.form-feedback span
{
    color: red;
    font-size: 15px;
}

form.form-feedback input
{
    padding: 5px 0;

    margin-bottom: 20px;
}

form.form-feedback input:last-child
{
    margin-bottom: unset;
}

form.form-feedback input[type="text"]
{
    width: 350px;
}

form.form-feedback input[type="email"]
{
    width: 400px;
}

form.form-feedback input[type="text"],
form.form-feedback input[type="email"]
{
    text-indent: 10px;
    font-size: 15px;
}

form.form-feedback input[type="submit"]
{
    width: 120px;
    margin-top: 15px;
    text-transform: capitalize;
    background-color: rgb(8, 201, 8);
    color: #fff;
    font-family: 'Fira Sans', sans-serif;

    border: 1px solid #fff;
    outline: none;
    border-radius: 0.3rem;
    padding: 10px 0;
}

a.toTheStart
{
    position: fixed;
    bottom: 50px;
    right: 100px;

    background-color: #ccc;

    border-radius: 2rem;

    padding: 10px;

    transform: rotate(-90deg);
    font-size: 30px;
    color: #000;
}

@media all and (max-width: 1703px)
{
    div.header-container
    {
        flex-flow: column nowrap;
        justify-content: center;

        padding-bottom: 30px;
    }

    section.advantages
    {
        padding: 250px 0 50px 0;
    }
}

@media all and (max-width: 1591px)
{
    header
    {
        position: static;
    }

    section.advantages
    {
        padding: 50px 0;
    }

    section.right-side
    {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    div.feedback
    {
        align-items: center;
        margin-left: unset;
        order: 1;
    }

    nav
    {
        order: 2;
    }

    nav, div.feedback
    {
        margin-top: 15px;
    }
}

@media all and (max-width: 1329px)
{
    nav
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
    }

    nav > a.nav-item
    {
        text-align: center;
        margin-right: unset;
    }
}


@media all and (max-width: 1310px)
{
    div.team-wrapper
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 1040px)
{
    nav
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

@media all and (max-width: 850px)
{
    div.goods-wrapper
    {
        grid-template-columns: 1fr 1fr;
    }

    div.info-wrapper
    {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    div.info-column 
    {
        max-width: unset;
        margin-bottom: 20px;

        border-top: 2px solid rgb(59, 59, 59);
        border-bottom: 2px solid rgb(59, 59, 59);
    }

    div.info-column article
    {
        max-width: 700px;
    }
}

@media all and (max-width: 774px)
{
    nav
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
    }
}

@media all and (max-width: 660px)
{
    div.team-wrapper
    {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width: 509px)
{
    nav
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 20px;
    }
}

@media all and (max-width: 447px)
{
    form.form-feedback input[type="text"]
    {
        width: 200px;
    }

    form.form-feedback input[type="email"]
    {
        width: 300px;
    }
}